.container {
    text-align: center;
}

.answer-card {
    display: inline-block;
    text-align: left;
}

input[type=radio] {
    cursor: pointer;
    border: 0px;
    transform: scale(2);
    accent-color: teal;
    float: left;
}

label {
    cursor: pointer;
    margin-left: 40px;
    display: block;
}

.answer-row {
    padding: 10px;
    border-radius: 10px;
    border: black solid 4px;
}

.answer-row:hover {
    padding: 10px;
    border: teal solid 4px;
}

@media only screen and (max-width: 600px) {
    .answer-row {
        max-width: 80vw;
    }
    .question {
        max-width: 80vw;
        margin: 0 auto;
    }
}